<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="movimientosmx5-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="obtenerMovimientos"
               url="http://localhost:3000/v5/cuentas/{{usuario}}"
               method="GET"
               handle-as="json"
               on-response="mostrarResultadoMovimientos">
    </iron-ajax>

    <span>{{ciudadSeleccionada}}</span>
    <div class="row">
    <br>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cuentas</h2>
      <table class="table table-striped" hidden$={{notengoMovimientos}}>
        <thead>
          <th>Id</th>
          <th>Cuenta</th>
          <th>Saldo</th>
          <th>Movimentos</th>
        </thead>

      <tbody>
      <template is="dom-repeat" items="{{cuentas}}" as="cta">
        <tr on-click="mostrarInfoFila">
          <td>{{cta.idcuenta}}</td>
          <td>{{cta.Nucuenta}}</td>
          <td>{{cta.saldo}}</td>
          <td><a class="btn btn-info" on-click="detalle" href="#">Ver detalles</a></td>
          </tr>
      </template>
      </tbody>
    </table>
  </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosmxApp5 extends Polymer.Element {
      static get is() { return 'movimientosmx5-app'; }/*para el navegador*/
      static get properties() {
        return {
          usuario:{
            type:String
          },
          cuentas:{
            type:Array
          },
          notengoMovimientos:{
            type:Boolean,
            value:true
          },
          idcuenta:{
            type:Number
          },
          ciudadSeleccionada:{
            type:String
          }
        };
      }

      ready(){
        super.ready()
        console.log("READY5-mov "+ this.notengoMovimientos)
      }

      invocarPeticion2(){
        console.log("invocarPeticion2")
        this.$.obtenerMovimientos.generateRequest();
      }
      invocarPeticion3(data){
        this.usuario=data.detail.alias
        console.log("invocarPeticion3")
        this.$.obtenerMovimientos.generateRequest();
      }

      detalle(e){
        console.log("idcuenta: "+e.model.cta.idcuenta)
        this.dispatchEvent(new CustomEvent('detalle',{detail:{idcuenta:e.model.cta.idcuenta}}))
      }
      mostrarResultadoMovimientos(data){
        console.log(data.detail.response)
        this.cuentas=data.detail.response
        if(data.detail.response[0]!=null)
          this.notengoMovimientos=false
      }
      mostrarInfoFila(e){
        console.log(e)
      }
    }

    window.customElements.define(MovimientosmxApp5.is, MovimientosmxApp5);
  </script>
</dom-module>
