<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="menu5-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

    </style>

    <nav id="navi" class="navbar  navbar-expand-lg navbar-dark bg-inverse" style="background-color: #0067af;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" on-click="hacerCuentas" href="#"><h3>Cuentas</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" on-click="hacerPagos" href="#"><h3>Pago de Servicios</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" on-click="hacerUsuarios" href="#"><h3>Alta de Usuarios</h3></a>
          </li>
        </ul>
      </div>
    </nav>

    <app-router>
      <app-route path="/"></app-route>
      <app-route path="/contenedor5" import="/src/contenedor5-app/contenedor5-app.html"></app-route>
      <app-route path="/login" import="/src/loginmx-app/loginmx-app.html"></app-route>
      <!--Cualquier otra cosa a pagina no encontrada-->
      <app-route path="/movimientos" import="/src/movimientosmx-app/movimientosmx-app.html"></app-route>
      <app-route path="/movimientos/:idMov" import="/src/detalle-movimientomx-app/detalle-movimientomx-app.html"></app-route>
      <app-route path="/contenedor" import="/src/contenedor-app/contenedor-app.html"></app-route>
      <app-route path="*" import="/src/page-not-found/page-not-found.html"></app-route>
    </app-router>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class menuApp5 extends Polymer.Element {
      static get is() { return 'menu5-app'; }/*para el navegador*/
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String,
            value: '1234'
          },
          etlogin: {
            type: String
          },
          valuser:{
            type:String,
            value:'abc@dominio.com'
          },
          productos:{
            type:Array
          },
          dloggin:{
            type:Object
          },
          notengoProductos:{
            type:Boolean,
            value:true
          }
        };
      }
      ready(){
        super.ready()
        console.log("READYMenu5 "+ this.notengoProductos)
      }
      hacerLogin1(){
        console.log("READY MEnu loggin")
      }
      hacerCuentas(){
        console.log("READY Cuentas")
        this.dispatchEvent(new CustomEvent('menu',{detail:{menu:"cuentas"}}))
      }
      hacerPagos(){
        console.log("READY Pagos")
        this.dispatchEvent(new CustomEvent('menu',{detail:{menu:"pagos"}}))
      }
      hacerUsuarios(){
        console.log("READY Usuarios")
        this.dispatchEvent(new CustomEvent('menu',{detail:{menu:"usuarios"}}))
      }
    }

    window.customElements.define(menuApp5.is, menuApp5);
  </script>
</dom-module>
