<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="detalle-movimientomx5-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerMovimientos"
               url="http://localhost:3000/v5/movimientos-o/{{idcuenta}}"
               method="GET"
               handle-as="json"
               on-response="mostrarResultadoMovimientos">
    </iron-ajax>
    <br>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cuenta</h2>

    <table class="table table-striped" hidden$={{notengoMovimientos}}>
      <thead>
        <th>Id</th>
        <th>Cuenta</th>
        <th>Saldo</th>
      </thead>
    <tbody>
    <template is="dom-repeat" items="{{movimientos}}" as="cta">
      <tr>
        <td>{{cta.idcuenta}}</td>
        <td>{{cta.Nucuenta}}</td>
        <td>{{cta.saldo}}</td>
        </tr>
    </template>
    </tbody>
    </table>
  <br>
  <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Detalle de Movimientos</h2>
    <table class="table table-striped" hidden$={{notengoMovimientos}}>
      <thead>
        <th>Id</th>
        <th>Fecha y Hora</th>
        <th>Descripcion</th>
        <th>Importe</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Ciudad</th>
        <th>Mapa</th>
      </thead>
      <tbody>
      <template is="dom-repeat" items="{{submovimientos}}">
        <tr on-click="mostrarInfoFila">
        <td>{{item.idmov}}</td>
        <td>{{item.fecha}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.importe}}</td>
        <td>{{item.latitud}}</td>
        <td>{{item.longitud}}</td>
        <td>{{item.ciudad}}</td>
        <td><span>
            <img width="{{wi}}" height="{{he}}" class="card-img-top"
            src="https://maps.googleapis.com/maps/api/staticmap?center={{item.ciudad}}&zoom=6&scale=1&size=130x150&maptype=roadmap&format=png&visual_refresh=true"
            alt="Card image cap"></span>
        </td>
        </tr>
      </template>
      </tbody>

    </table>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DetalleMovimientomx5App extends Polymer.Element {
      static get is() { return 'detalle-movimientomx5-app'; }/*para el navegador*/
      static get properties() {
        return {
          idcuenta:{
            type:Number
          },
          movimientos:{
            type:Object
          },
          submovimientos:{
            type:JSON
          },
          notengoMovimientos:{
            type:Boolean,
            value:true
          },
          ciudadSeleccionada:{
            type:String
          },
          wi:{
            type:Number,
            value:130
          },
          he:{
            type:Number,
            value:150
          }
        };
      }
      ready(){
        super.ready()
        console.log("READY5-detalle "+ this.notengoMovimientos)
        this.wi=130;
        this.he=150;
      }

      invocarPeticion2(){
        this.$.obtenerMovimientos.generateRequest();
      }
      invocarDetalle(data){
        this.idcuenta=data.detail.idcuenta
        console.log("idcuenta: "+data.detail.idcuenta)
        this.$.obtenerMovimientos.generateRequest();
      }
      mostrarResultadoMovimientos(data){
        //console.log(data)
        console.log("Movimientos. "+JSON.stringify(data.detail.response))
        this.movimientos=data.detail.response
        this.submovimientos=data.detail.response[0].movimientos
        console.log("SubMovimientos. "+this.submovimientos)
        this.notengoMovimientos=false
      }

      mostrarInfoFila(e){
        console.log(e)
        if(this.wi==13){
          this.wi=65
          this.he=75
        }
        else if(this.wi==65){
          this.wi=130
          this.he=150
        }
        else if(this.wi==130){
          this.wi=0
          this.he=0
        }
        else{
          this.wi=13
          this.he=15
        }
        console.log("wi: "+this.wi)
      }
    }

    window.customElements.define(DetalleMovimientomx5App.is, DetalleMovimientomx5App);
  </script>
</dom-module>
