<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="usuarios5-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="hacerConsulta"
               url="http://localhost:3000/v5/usuarios"
               method="GET"
               auto
               handle-as="json"
               on-response="mostrarResultado">
    </iron-ajax>
    <iron-ajax id="hacerAltaEnvio"
               url="http://localhost:3000/v5/usuariosHead"
               method="POST"
               handle-as="json"
               on-response="mostrarResultadoAlta"
               on-error="mostrarErrorAlta">
    </iron-ajax>

    <h2>Capture los datos</h2>
    <br>

    <div>
      <label for="">Nombre</label>
      <input required="required" type="text" value={{valname::input}} >
    </div>

    <div>
      <label for="">Usuario</label>
      <input required="required" type="text" placeholder="nombre@dominio.com" value={{valuser::input}} >
    </div>

    <div>
      <label for="">Pasword</label>
      <input required="required" type="password" value={{etpassword::input}}>
    </div>
    <div>
      <label for="">Confirmar Pasword</label>
      <input required="required" type="password" value={{confpassword::input}}>
    </div>

    <div>
      <button class="btn btn-info" on-click="hacerAlta">Enviar</button>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UsuariosApp5 extends Polymer.Element {
      static get is() { return 'usuarios5-app'; }/*para el navegador*/
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String,
            value: '5678'
          },
          confpassword: {
            type: String,
            value: '5678'
          },
          etlogin: {
            type: String
          },
          valuser:{
            type:String,
            value:'mi@dominio.com'
          },
          valname:{
            type:String,
            value:'Mi Nombre'
          },
          productos:{
            type:Array
          },
          dloggin:{
            type:Object
          },
          listaUsuarios:{
            type: Array
          },
          numUsuarios:{
            type: Number
          }
        }
      }
      ready(){
        super.ready()
        console.log("READY5 "+ this.notengoProductos)
      }
      //hacerAltaEnvio(){
      hacerAlta(){
        if(this.etpassword!=this.confpassword){
          alert("El password no es el mismo\n\n Vuleva a capturarlo")
          return
        }
        console.log("1")
        this.$.hacerAltaEnvio.headers['x-requested-with'] = 'XMLHttpRequest';
        this.$.hacerAltaEnvio.headers['id'] = (this.numUsuarios+1);
        console.log("2")
        this.$.hacerAltaEnvio.headers['email'] = this.valuser;
        this.$.hacerAltaEnvio.headers['password'] = this.etpassword;
        this.$.hacerAltaEnvio.headers['name'] = this.valname;
        this.$.hacerAltaEnvio.headers['estatus'] = true;
        this.$.hacerAltaEnvio.method = 'POST';
        console.log("3")
        this.$.hacerAltaEnvio.generateRequest();
        this.numUsuarios++;
      }
      invocarPeticion(){
        this.$.obtenerProductos.generateRequest();
      }
      mostrarResultado(data){
        console.log("Consulta")
        console.log(data.detail.response)
        this.listaUsuarios=data.detail.response
        this.numUsuarios=this.listaUsuarios.length;
        console.log("NumUsuarios: "+this.numUsuarios)
      }
      mostrarResultadoAlta(data){
        console.log("Alta")
        console.log(data.detail.response)
        alert("Alta exitosa")
      }

      mostrarErrorAlta(data){
        console.log("Error")
        console.log(data.detail.response)
        alert("Error al hacer el alta, vuelva a intentarlo")
      }
    }

    window.customElements.define(UsuariosApp5.is, UsuariosApp5);
  </script>
</dom-module>
