<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/menu5-app/menu5-app.html">
<link rel="import" href="/src/loginmx5-app/loginmx5-app.html">
<link rel="import" href="/src/movimientosmx5-app/movimientosmx5-app.html">
<link rel="import" href="/src/detalle-movimientomx5-app/detalle-movimientomx5-app.html">
<link rel="import" href="/src/usuarios5-app/usuarios5-app.html">
<link rel="import" href="/src/pagos5-app/pagos5-app.html">

<dom-module id="contenedor5-app">
  <template>
    <style>
      :host {
        display: block;
      }
      [hidden]{
        display:none !important;
      }
    </style>

    <menu5-app id="menu5" hidden$={{!firmado}}></menu5-app>
    <loginmx5-app id="loginmx5" hidden$={{firmado}}></loginmx5-app>
    <movimientosmx5-app id="movimientosmx5" hidden$={{!cuentas}}></movimientosmx5-app>
    <detalle-movimientomx5-app id="detalle5" hidden$={{!detalle}}></detalle-movimientomx5-app>
    <usuarios5-app id="usuarios5" hidden$={{!usuarios}}></usuarios5-app>
    <pagos5-app id="pagos5" hidden$={{!pagos}}></pagos5-app>

    </template>

    <script>
    /**
     * @customElement
     * @polymer
     */
    class Contenedor5App extends Polymer.Element {
      static get is() { return 'contenedor5-app'; }
      static get properties() {
        return {
          firmado:{
            type:Boolean,
            value:false
          },
          cuentas:{
            type:Boolean,
            value:false
          },
          detalle:{
            type:Boolean,
            value:false
          },
          usuarios:{
            type:Boolean,
            value:false
          },
          pagos:{
            type:Boolean,
            value:false
          },
          alias:{
            type:String
          },
          idcuenta:{
            type:Number
          }
        };
      }
      ready(){
        super.ready()
        this.$.loginmx5.addEventListener('login',e=>{this.escucharLoggin(e)})
        console.log("firmado: "+this.firmado)
        this.$.menu5.addEventListener('menu',e=>{this.escucharMenu(e)})
        this.$.movimientosmx5.addEventListener('detalle',e=>{this.escucharMovimiento(e)})
      }

      escucharLoggin(e){
          console.info("SOY TU PADRE: "+JSON.stringify(e.detail,null,' '))
          console.log(this.$)//todo lo del contenedor
          this.firmado=e.detail.firmado
          this.alias=e.detail.alias
          console.log("firmado: "+this.firmado)
      }

      escucharMenu(e){
        if(e.detail.menu=="cuentas"){
          this.cuentas=this.firmado?true:false
          this.usuarios=false
          this.detalle=false
          this.pagos=false
          console.log("cuentas: "+this.cuentas)
          this.$.movimientosmx5.invocarPeticion3({detail:{email:this.valuser, alias:this.alias}})
        }else if(e.detail.menu=="usuarios"){
          this.cuentas=false
          this.usuarios=true
          this.detalle=false
          this.pagos=false
        }
        else if(e.detail.menu=="pagos"){
          this.cuentas=false
          this.usuarios=false
          this.detalle=false
          this.pagos=true
          this.$.pagos5.invocarPagos({detail:{email:this.valuser, alias:this.alias}})
        }
      }

        escucharMovimiento(e){
          this.cuentas=false
          this.usuarios=false
          this.pagos=false
          this.detalle=true
          this.idcuenta=e.detail.idcuenta
          console.log("contenedor-idcuenta: "+e.detail.idcuenta)
          this.$.detalle5.invocarDetalle({detail:{idcuenta:this.idcuenta}})
        }
    }

    window.customElements.define(Contenedor5App.is, Contenedor5App);
  </script>
</dom-module>
