<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="page-not-found">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      /*
      table, th, td{
        border:2px solid blue;
      }*/
    </style>
    <h1>HTTP 404</h1>
    <h2>Pàgina no encontrada</h2>


      <template is="dom-repeat" items="{{productos}}" as="prd">
        <tr>
          <td>{{prd.ProductID}}</td>
          <td>{{prd.ProductName}}</td>
          <td>{{prd.UnitPrice}}</td>
        </tr>
      </template>
      </tbody>
    </table>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }/*para el navegador*/
      static get properties() {
        return {

        };
      }

    }
                               /* primero define nuevo componente para el navegador
                                  cuando lo encuentre que busque la clase*/
    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
