<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="loginmx2-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      /*
      table, th, td{
        border:2px solid blue;
      }*/
    </style>

    <iron-ajax id="obtenerProductos"
               url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
               handle-as="json"
               on-response="mostrarProductos">
    </iron-ajax>

    <iron-ajax id="hacerLogin"
               url="http://localhost:3000/v2/loggin"
               method="POST"
               handle-as="text"
               headers='{"email": "rjannaway0@mediafire.com","password": "raS3lf"}'
               on-response="mostrarResultadoLogin">
    </iron-ajax>

    <div>
      <label for="">Usuario</label>
      <input required="required" type="text" placeholder="nombre@dominio.com" value={{valuser::input}} >
    </div>

    <div>
      <label for="">Pasword</label>
      <input required="required" type="password">
    </div>

    <div>
      <!--
      <button on-click="hacerLogin1">[[etlogin]]</button>
      <button on-click="invocarPeticion">Invocar</button>
      -->
      <button class="btn btn-info" on-click="hacerLogin1">Validar</button>
      <!--
      <button class="btn btn-warning" on-click="invocarPeticion">Invocar</button>
      -->
    </div>
    <!--
    <table hidden$="{{notengoProductos}}">
    <table class="table" hidden$="{{notengoProductos}}"> bootsrtap
    -->
    <table class="table table-striped" hidden$="{{notengoProductos}}">
      <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
      </thead>
      <tbody>
        <!--
        <tr>
          <td>0</td>
          <td>Prueba</td>
        </tr>
      -->
      <!--
      <template is="dom-repeat" items="{{productos}}">
        <tr>
          <td>{{item.ProductID}}</td>
          <td>[[item.ProductName]]</td>
        </tr>
      </template>
      -->
      <template is="dom-repeat" items="{{productos}}" as="prd">
        <tr>
          <td>{{prd.ProductID}}</td>
          <td>{{prd.ProductName}}</td>
          <td>{{prd.UnitPrice}}</td>
        </tr>
      </template>
      </tbody>
    </table>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp2 extends Polymer.Element {
      static get is() { return 'loginmx2-app'; }/*para el navegador*/
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser:{
            type:String
          },
          productos:{
            type:Array
          },
          notengoProductos:{
            type:Boolean,
            value:true
          }
        };
      }
      ready(){
        super.ready()
        console.log("READY "+ this.notengoProductos)
      }
      //hacerLogin(){
      hacerLogin1(){
        //console.log("Login correcto de "+this.valuser)
        this.$.hacerLogin.headers="micorreo.com"
        this.$.hacerLogin.generateRequest();
      }
      invocarPeticion(){
        this.$.obtenerProductos.generateRequest();
      }
      mostrarProductos(data){
        //console.log(data)
        console.log(data.detail.response.value)
        //propiedad producto array
        this.productos=data.detail.response.value
        this.notengoProductos=false
      }
      mostrarResultadoLogin(data){
        //console.log(data)
        console.log("MOSTRAR " + data.detail.response)
        this.dispatchEvent(new CustomEvent('login',{detail:{usuario:"1111",anno:2018}}))
      }
    }
                               /* primero define nuevo componente para el navegador
                                  cuando lo encuentre que busque la clase*/
    window.customElements.define(LoginmxApp2.is, LoginmxApp2);
  </script>
</dom-module>
