<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/loginmx2-app/loginmx2-app.html">
<link rel="import" href="/src/movimientosmx2-app/movimientosmx2-app.html">


<dom-module id="contenedor-app">
  <template>
    <style>
      :host {
        display: block;
      }
      [hidden]{
        display:none !important;
      }
    </style>
<!--
    <loginmx2-app id="loginmx2" hidden$={{nofirmado}}></loginmx2-app>
    <movimientosmx2-app id="movimientosmx2" hidden$={{nofirmado}}></movimientosmx2-app>
!-->
    <loginmx2-app id="loginmx2"></loginmx2-app>
    <movimientosmx2-app id="movimientosmx2"></movimientosmx2-app>
    <h1>Hola</h1>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ContenedorApp extends Polymer.Element {
      static get is() { return 'contenedor-app'; }
      static get properties() {
        return {
          nofirmado:{
            type:Boolean,
            value:true
          }
        };
      }
      ready(){
        console.log(this.nofirmado)
        super.ready()
        console.log(this.nofirmado)
        this.$.loginmx2.addEventListener('login',e=>{this.enviarDatosAHijo(e)})
      }

      enviarDatosAHijo(e){
          console.info("SOY TU PADRE: "+e.detail.origen)
          console.log(this.$)
          //this.$.receptor.origenRecibido = e.detail.origen
          //this.$.receptor.annoRecibido = e.detail.anno
          //this.$.nofirmado=false
          this.$.movimientosmx2.invocarPeticion3(e.detail)

      }
    }

    window.customElements.define(ContenedorApp.is, ContenedorApp);
  </script>
</dom-module>
