<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!--
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
-->

<dom-module id="detalle-movimientomx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      /*
      table, th, td{
        border:2px solid blue;
      }*/
    </style>
    <!--idMov de index-->

    <!--
    <iron-ajax id="obtenerProductos"
               url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
               handle-as="json"
               on-response="mostrarProductos">
    </iron-ajax>
-->
    <iron-ajax auto="" id="obtenerMovimientos"
               url="http://localhost:3000/v2/movimientos/{{idMov}}"
               method="GET"
               handle-as="json"
               on-response="mostrarResultadoMovimientos">
    </iron-ajax>

    <h1>Detalle del movimiento {{idMov}}</h1>
    <h2>Ciudad: {{movimientos.ciudad}}</h2>
    <h3>Importe: {{movimientos.importe}}</h3>

    <!--<div>
    <div class="row">
      <!--<button>Botòn 1</button>
      <button class="col-lg-4 col-6">Botòn 1</button>
      <button class="col-lg-4 col-6">Botòn 2</button>
      <button class="col-lg-4 col-6">Botòn 3</button>
    </div>

    <div>
      <label for="">[[etuser]]</label>
      <input required="required" type="text" placeholder="nombre@dominio.com" value={{valuser::input}} >
    </div>

    <div>
      <label for="">[[etpassword]]</label>
      <input required="required" type="password">
    </div>

    <div>
      <!--
      <button on-click="obtenerMovimientos1">[[etlogin]]</button>
      <button on-click="invocarPeticion2">Invocar</button>

      <button class="btn btn-info" on-click="obtenerMovimientos1">[[etlogin]]</button>-->
      <!--
    <div>
      <button class="btn btn-warning" on-click="invocarPeticion2">Invocar Movimientos</button>
    </div>
    <div class="row">
    <!--
    <table hidden$="{{notengoMovimientos}}">
    <table class="table" hidden$="{{notengoMovimientos}}"> bootsrtap
    -->
<!--
      <table class="table table-striped" hidden$="{{notengoMovimientos}}">
        <thead>
          <th>Id</th>
          <th>Importe</th>
          <th>Latitud</th>
          <th>Longitud</th>
        </thead>

    <!--
    <table class="table table-striped" hidden$="{{notengoMovimientos}}">
      <thead>
        <th>Id Movimiento</th>
        <th>Usuario</th>
        <th>Saldo</th>
      </thead>
      <tbody>

      -->
        <!--
        <tr>
          <td>0</td>
          <td>Prueba</td>
        </tr>
      -->
      <!--
      <template is="dom-repeat" items="{{productos}}">
        <tr>
          <td>{{item.ProductID}}</td>
          <td>[[item.ProductName]]</td>
        </tr>
      </template>
      -->
<!--
      <tbody>
        <!--
      <template is="dom-repeat" items="{{movimientos}}" as="mov">
      -->
      <!--
      <template>
        <tr>
          <td>{{movimientos.id}}</td>
          <td>{{importe}}</td>
          <td>{{latitud}}</td>
          <td>{{longitud}}</td>
        </tr>
      </template>
      </tbody>
    </table>
  </div>

<!--
    <div class="row col-lg-12 col-sm-12">
      <div class="card-deck">

        <template is="dom-repeat" items="{{movimientos}}" as="mov">
          <div class="col-sm-3">

            <div class="card">
              <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center=[[mov.ciudad]]&zoom=6&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{mov.id}}</h5>
                  <p class="card-text">{{mov.fecha}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{mov.importe}}</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">{{mov.ciudad}}</a>
                  <a href="#" class="card-link">{{mov.latitud}}</a>
                  <a href="#" class="card-link">{{mov.longitud}}</a>
                </div>

            </div>
          </div>
        </template>
      </div>
    </div>
-->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DetalleMovimientomxApp extends Polymer.Element {
      static get is() { return 'detalle-movimientomx-app'; }/*para el navegador*/
      static get properties() {
        return {
          /*
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser:{
            type:String
          },*/
          movimientos:{
            type:Object
          },
          notengoMovimientos:{
            type:Boolean,
            value:true
          }
        };
      }
      //obtenerMovimientos(){
      //obtenerMovimientos1(){
        //console.log("Login correcto de "+this.valuser)
        //this.$.obtenerMovimientos.generateRequest();
      //}

      invocarPeticion2(){
        this.$.obtenerMovimientos.generateRequest();
      }
      /*
      mostrarProductos(data){
        //console.log(data)
        console.log(data.detail.response.value)
        //propiedad producto array
        this.movimientos=data.detail.response.value
        this.notengoMovimientos=false
      }*/
      mostrarResultadoMovimientos(data){
        //console.log(data)
        console.log(data.detail.response)
        this.movimientos=data.detail.response
        //this.notengoMovimientos=false
      }
    }
                               /* primero define nuevo componente para el navegador
                                  cuando lo encuentre que busque la clase*/
    window.customElements.define(DetalleMovimientomxApp.is, DetalleMovimientomxApp);
  </script>
</dom-module>
