<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="loginmx5-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="hacerLogin"
               url="http://localhost:3000/v5/loggin"
               method="GET"
               handle-as="json"
               on-response="mostrarResultadoLogin">
    </iron-ajax>

    <h2>¡Bienvenido a su banco!</h2>
    <br>

    <div>
      <label for="">Usuario</label>
      <input required="required" type="text" placeholder="nombre@dominio.com" value={{valuser::input}} >
    </div>

    <div>
      <label for="">Pasword</label>
      <input required="required" type="password" value={{etpassword::input}}>
    </div>

    <div>
      <button class="btn btn-info" on-click="hacerLogin1">Validar</button>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp5 extends Polymer.Element {
      static get is() { return 'loginmx5-app'; }/*para el navegador*/
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String,
            value: '1234'
          },
          etlogin: {
            type: String
          },
          valuser:{
            type:String,
            value:'abc@dominio.com'
          },
          productos:{
            type:Array
          },
          dloggin:{
            type:Object
          },
          notengoProductos:{
            type:Boolean,
            value:true
          }
        };
      }
      ready(){
        super.ready()
        console.log("READY5 "+ this.notengoProductos)
      }
    
      hacerLogin1(){
        console.log("Validacion del Usuario: "+this.valuser+" Password:"+this.etpassword);
        this.$.hacerLogin.headers['x-requested-with'] = 'XMLHttpRequest';
        this.$.hacerLogin.headers['email'] = this.valuser;
        this.$.hacerLogin.headers['password'] = this.etpassword;
        this.$.hacerLogin.method = 'GET';
        this.$.hacerLogin.generateRequest();
      }
      invocarPeticion(){
        this.$.obtenerProductos.generateRequest();
      }

      mostrarResultadoLogin(data){
        if(data.detail.response[0]==null){
          console.log("Validaciòn NO Exitosa")
          alert("                                    ¡Error!\n\nVerifica que el Usuario o Password sean correctos\n y que existan.")
          this.dispatchEvent(new CustomEvent('login',{detail:{firmado:false, email:this.valuser}}))

        }
        else{
          console.log("Validaciòn SI Exitosa")
          console.log(JSON.stringify(data.detail.response,null,' '))
          console.log("MOSTRAR " + data.detail.response[0].name)
          this.dispatchEvent(new CustomEvent('login',{detail:{firmado: true, email:this.valuser, alias:data.detail.response[0].name}}))
          console.log("FIN LOGIN5")
        }
      }
    }

    window.customElements.define(LoginmxApp5.is, LoginmxApp5);
  </script>
</dom-module>
