<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">

<dom-module id="pagos5-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style is="custom-style" include="demo-pages-shared-styles">
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="obtenerCuentas"
         url="http://localhost:3000/v5/cuentas/{{usuario}}"
         method="GET"
         handle-as="json"
         on-response="mostrarResultadoCuentas">
    </iron-ajax>

    <iron-ajax
        id="altaMovimiento"
        url="http://localhost:3000/v5/movimientos/{{idcuenta}}"
        method="POST"
        content-type="application/json"
        handle-as="json"
        on-response="mostrarResultadoAlta"
        on-error="mostrarErrorAlta">
    </iron-ajax>

    <h2>Pago de servicios</h2>
    <br>

    <paper-dropdown-menu class = "dropdown-content" label="Convenio" >
      <paper-listbox slot="dropdown-content" class="dropdown-content" attr-for-selected="value" selected={{convenio}}>
        <paper-item value="CFE">CFE</paper-item>
        <paper-item value="TELMEX">TELMEX</paper-item>
        <paper-item value="Gas Natural">Gas Natural</paper-item>
      </paper-listbox>
    </paper-dropdown-menu>

    <div>
      <label for="">Importe</label>
      <input required="required" type="number" value={{importe::input}} >
    </div>

    <paper-dropdown-menu id="lstcuentas" name="lstcuentas" label="Cuenta de cargo:" >
      <paper-listbox label="cuentas" slot="dropdown-content" class="dropdown-content" attr-for-selected="value" selected={{idcuenta}} >
        <template is="dom-repeat" items="[[cuentas]]">
          <paper-item  on-tap="_categoryHandler" value={{item.idcuenta}}>{{item.Nucuenta}}</paper-item>
        </template>
      </paper-listbox>
    </paper-dropdown-menu>

    <br>
    <div>
      <button class="btn btn-info" on-click="hacerPago">Pagar</button>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PagosApp5 extends Polymer.Element {
      static get is() { return 'pagos5-app'; }/*para el navegador*/
      static get properties() {
        return {
          usuario:{
            type:String
          },
          convenio:{
            type:String
          },
          importe:{
            type:Number
          },
          cuentas:{
            type: Array
          },
          idcuenta:{
            type: Number
          }
        }
      }
      ready(){
        super.ready()
        console.log("READY5 Pagos")
      }

      invocarPagos(data){
        this.usuario=data.detail.alias
        console.log("invocarPagos")
        this.$.obtenerCuentas.generateRequest();
      }

      mostrarResultadoCuentas(data){
        //console.log(data)
        console.log(data.detail.response)
        this.cuentas=data.detail.response
        if(data.detail.response[0]!=null)
          this.notengoMovimientos=false
      }

      hacerPago(){
        var fecha = new Date();
        console.log("cuenta:"+this.idcuenta);
        console.log(fecha);
        this.$.altaMovimiento.body={
          "fecha": fecha,
          "importe": this.importe,
          "descripcion": "Cargo por pago a "+this.convenio,
          "latitud":43.34543,
          "longitud":32.3541245,
          "ciudad": "CDMX",
        }
        console.log(this.$.altaMovimiento.body);
        this.$.altaMovimiento.generateRequest();
      }

      mostrarResultadoAlta(data){
        console.log("Alta")
        console.log(data.detail.response)
        alert("Operacion realizada Exitosamente")
      }

      mostrarErrorAlta(data){
        console.log("Error")
        console.log(data.detail.response)
        alert("Error al hacer el alta, vuelva a intentarlo")
      }

    }

    window.customElements.define(PagosApp5.is, PagosApp5);
  </script>
</dom-module>
